head
    meta(charset="UTF-8")

    title= meta.title
    meta(property="og:site_name" content= meta.title)
    meta(name="title" content= meta.title)
    meta(property="og:title" content= meta.title)
    meta(property="twitter:title" content= meta.title)

    meta(property="og:url" content= meta.url)
    meta(property="twitter:url" content= meta.url)
    link(rel="canonical" href= meta.url)

    meta(property="twitter:site" content= meta.twitter)
    meta(property="twitter:site:id" content= meta.twitter)
    meta(property="twitter:creator" content= meta.twitter)
    meta(property="twitter:creator:id" content= meta.twitter)

    meta(name="description" content= meta.description)
    meta(property="og:description" content= meta.description)
    meta(property="twitter:description" content= meta.description)

    meta(name="keywords" content='Glynet, Glynet Blog, Sosyal Medya, Sosyal Ağ, Yenilikler, Güncellemeler, Haberler, Yeni gelişmeler, glynet.com')

    meta(property="twitter:card" content= meta.twitter_card)
    meta(name="theme-color" content= meta.color)

    meta(property="og:image" content= meta.image)
    meta(property="twitter:image" content= meta.image)

    meta(property="og:type" content="website")
    meta(name="robots" content="index, follow")

    link(rel="icon" href="/static/assets/images/g-logo-200x200.png")
    link(rel="apple-touch-icon" href="/static/assets/images/g-logo-200x200.png")
    link(rel="manifest" href="/manifest.json")

    link(rel="stylesheet" href="/static/style/style.css")

    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="google-site-verification" content="1-prv1kLG6iQnGhK3PuWVzRPry2L2nKnLiIRGh94q9c")
